body{
    margin: 0;
    padding: 0;
    background: #333;
    font-family: consolas;
}

h4 {
color:blanchedalmond;
display: flex;
text-align:center;
font-family:Helvetica, sans-serif;
line-height: 30px;
margin-left: 3em;

}

h1{
    color:antiquewhite;
    font-family:Helvetica, sans-serif;
    line-height: 30px;
    text-align:center;

}

h6{
    color:blanchedalmond;
    font-family:Helvetica, sans-serif;
    display: flex;
text-align:center;
    line-height: 0px;
margin-left: 5em;

}

h5{
    color: antiquewhite;
    font-family:Helvetica, sans-serif;
    line-height: 40px;
    text-align:center;
}
.container{
	width:100%;
	display: flex;
	align-items: center;
	justify-content:center;
	
}
.card-list{
	width:1000px;
	max-width:1000px;
    min-width: 400px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-wrap:wrap;
	padding:0 20px;
}

.card-list .card{
    cursor: pointer;
	
}

.card-list .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.card-list .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.card-list .card:hover .face.face1{
    background:black;
    transform: translateY(0);
}

.card-list .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.card-list .card:hover .face.face1 .content{
    opacity: 1;
}

.card-list .card .face.face1 .content img{
    max-width: 200px;
}

.card-list .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.card-list .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.card-list .card:hover .face.face2{
    transform: translateY(0);
}

.card-list .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.card-list .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.card-list .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}